[Unit]
SourcePath=/custom/ddns/ddns
Description= Dynamic DNS client
After=network-online.target

[Service]
Type=simple
Restart=on-failure
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
KillSignal=SIGINT
GuessMainPID=no
RemainAfterExit=yes
WorkingDirectory=/ddns/ddns/
ExecStart=/custom/ddns/ddns

[Install]
WantedBy=multi-user.target
Wants=network-online.target
