[Unit]
SourcePath=/custom/ddns-client/ddns
Description= Dynamic DNS client
After=network-online.target

[Service]
Type=simple
Restart=on-failure
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
KillSignal=SIGINT
GuessMainPID=no
RemainAfterExit=yes
WorkingDirectory=/custom/ddns-client/
ExecStart=/custom/ddns-client/ddns

[Install]
WantedBy=multi-user.target
